.hero-banner {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('../../assets/img/b.jpg'); 

  background-size: cover;
  background-position: center center;
  min-height: 75vh; 
  padding-top: 56px; 
  color: white; 
  
  position: relative; 
  z-index: 1;

  display: flex; 
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.hero-content {
   position: relative; 
   z-index: 2; 
}

.hero-content h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800; 
  font-size: 4.5em; 
  text-transform: uppercase; 
  letter-spacing: 1.5px; 
  margin-bottom: 0.4em; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.hero-content .subtitle {
  font-family: 'Poppins', sans-serif; 
  font-size: 2.2em; 
  font-weight: 600; 
  margin-top: 0.5em; 
  margin-bottom: 0.7em; 
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); 
}

.hero-content .date-info {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: 400; 
  margin-bottom: 0; 
  margin-top: 0; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .hero-content h1 { font-size: 3em; letter-spacing: 1px;}
  .hero-content .subtitle { font-size: 1.8em; }
  .hero-content .date-info { font-size: 1.1em; }
}
@media (max-width: 480px) {
  .hero-content h1 { font-size: 2.4em; }
  .hero-content .subtitle { font-size: 1.5em; }
}