h2{
  color: #6a0572;
}
/* Conteneur principal */
.members-container {
  color: white;
  text-align: center;
  border-radius: 15px;
  padding: 50px;
}

/* Cartes des membres */
.member-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.member-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Nom du membre */
.member-name {
  font-size: 20px;
  font-weight: bold;
  color: #6a0572;
  margin-bottom: 10px;
}

/* Bouton vers le site web */
.btn-primary {
  background: #6a0572;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 18px;
  padding: 10px 15px;
}

.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(221, 8, 157, 0.6);
}
