h2{
    color: #800080;
}
.btn-primary {
    background: #800080;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 25px;
  
  }
  
  .btn-primary:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(221, 8, 157, 0.6);
  }

